
@{
    ViewBag.Title = "How to post an outfit to Facebook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready
    (
        function () {

            //////////////////////////////////////
            // Required to close body gap - BEGIN
            //////////////////////////////////////
            var bdyHght = $('#dvBodyContent').height();
            $('#dvBodyContent').height(bdyHght + 50);
            //////////////////////////////////////
            // Required to close body gap - END
            //////////////////////////////////////
        }
    );
</script>

<center>
    <h2>
        How to post an outfit to Facebook
    </h2>
    <p>
        <b>Step 1. Go To The Outfit Page.</b>
        <br />
        <img src="~/Images/OutfitStep1.PNG" width="400" height="200" />
        <br /><br />
        <b>Step 2. Choose <font color="#01b2fc">u</font><font color="#c239db">Closet</font> area containing Outfit to post to Facebook.</b>
        <br />
        <img src="~/Images/OutfitPostStep2.PNG" width="400" height="200" />
        <br /><br />
        <b>Step 3. Double click on outfit to load the outfit.</b>
        <br />
        <img src="~/Images/OutfitPostStep3.PNG" width="400" height="200" />
        <br /><br />
        <b>Step 4. Click Facebook logo button.</b>
        <br />
        <img src="~/Images/OutfitPostStep4.PNG" width="400" height="200" />
        <br /><br />
        <b>Step 5. Confirm posting of outfit to Facebook.</b>
        <br />
        <img src="~/Images/OutfitPostStep5.PNG" width="400" height="200" />
        <br /><br />
        <b>Step 6. Outfit has been posted to Facebook.</b>
        <br />
        <img src="~/Images/OutfitPostStep6.PNG" width="400" height="200" />
        <br /><br />
        <b>Step 7. Facebook Post</b>
        <br />
        <img src="~/Images/OutfitPostStep7.PNG" width="400" height="200" />
        <br /><br />
    </p>
</center>

