@{
    ViewBag.Title = "How to create an outfit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h2>
        How to create an outfit
    </h2>
    <p>
        <b>Step 1. Go To The Outfit Page.</b>
        <br />
        <img src="~/Images/OutfitStep1.PNG" width="400" height="200" />
        <br /><br />
        <b>Step 2. Choose <font color="#01b2fc">u</font><font color="#c239db">Closet</font> area to store Outfit within.</b>
        <br />
        <img src="~/Images/OutfitStep2.PNG" width="400" height="200" />
        <br /><br />
        <b>Step 3. Go to <font color="#01b2fc">u</font><font color="#c239db">Closet</font> area containing garment to put in outfit.</b>
        <br />
        <img src="~/Images/OutfitStep3.PNG" width="400" height="200" />
        <br /><br />
        <b>Step 4. Click on garment picture and drag to desired area on mannequin.</b>
        <br />
        <img src="~/Images/OutfitStep4.PNG" width="400" height="200" />
        <br /><br />
        <br />
        <b>Step 5. Repeat steps 3 & 4 until mannequin locations are filled or until all desired garments have been added to outfit.</b>
        <br />
        <br />
        <b>Step 6. Enter "Outfit Description"" of Outfit.</b>
        <br />
        <img src="~/Images/OutfitStep6.PNG" width="400" height="200" />
        <br /><br />
        <b>Step 7. Click on "Save" button.</b>
        <br />
        <img src="~/Images/OutfitStep7.PNG" width="400" height="200" />
        <br /><br />
        <b>Step 8. Outfit is saved and mannequin is cleared.</b>
        <br />
        <img src="~/Images/OutfitStep8.PNG" width="400" height="200" />
        <br /><br />
    </p>
</center>
