@{
    ViewBag.Title = "How to share a garment within my Facebook Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h2>
        How to share a garment within my Facebook Friends
    </h2>
    <p>
        <b>Step 1. Go To The Wardrobe Page.</b>
        <br />
        <img src="~/Images/WardrobeStep1.PNG" width="400" height="200" />
        <br /><br />
        <b>Step 2. Select <font color="#01b2fc">u</font><font color="#c239db">Closet</font> area, garment is held within.</b>
        <br />
        <img src="~/Images/WardrobeStep2.PNG" width="400" height="200" />
        <br /><br />
        <b>Step 3. Double Click on garment image to share</b>
        <br />
        <img src="~/Images/FAQShareStep3.png" width="400" height="200" />
        <br /><br />
        <b>Step 4. Check box next to friend to share garment with.</b>
        <br />
        <img src="~/Images/FAQShareStep4.png" width="400" height="200" />
        <br /><br />
        <b>Step 5. Click one of the 'Update' buttons to update Facebook Friends.</b>
        <br />
        <img src="~/Images/FAQShareStep5.jpg" width="400" height="200" />
        <br /><br />
        <b>Step 6. Facebook Friend(s) now can see your garment.</b>
        <br />
        <img src="~/Images/FAQShareStep6.jpg" width="400" height="200" />
        <br /><br />
    </p>
</center>